
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ----------------------------------------------------------------
    // Helper Functions
    // ----------------------------------------------------------------

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isAdmin() {
        return request.auth.token.email == 'samuelmarvel21@gmail.com';
    }

    function isUpdatingOwnRequest(userId) {
      return isOwner(userId) && request.resource.data.keys().hasOnly(['pendingFundingRequest']);
    }

    function isUpdatingSavedPosts(userId) {
      return isOwner(userId) && request.resource.data.keys().hasOnly(['savedPosts']);
    }

    function isUpdatingOwnProfile(userId) {
      // Allow user to update their own name and photoURL
      return isOwner(userId) && request.resource.data.keys().hasOnly(['name', 'photoURL']);
    }
    
    function isLikingPost() {
      return isSignedIn() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likes']);
    }

    // ----------------------------------------------------------------
    // Collection Rules
    // ----------------------------------------------------------------

    match /users/{userId} {
      allow read: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isOwner(userId);
      allow update: if isUpdatingOwnRequest(userId) || isUpdatingSavedPosts(userId) || isUpdatingOwnProfile(userId) || isAdmin();
      allow delete: if isOwner(userId) || isAdmin();

      match /transactions/{transactionId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }

    match /reviews/{reviewId} {
        allow read: if true;
        allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
        allow update: if false;
        allow delete: if isAdmin();
    }

    match /dataPlans/{network}/plans/{planId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /tvPlans/{provider}/plans/{planId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /networkStatus/{networkId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /announcement/current {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /blogPosts/{postId} {
        allow read: if true;
        allow write: if isAdmin() || isLikingPost();
    }
  }
}
